body {
  font-family: system-ui;
  background: #eef2ff;
  text-align: center;
  padding: 20px;
}

h1 {
  color: #4f46e5;
}

input, button {
  width: 90%;
  max-width: 400px;
  padding: 12px;
  margin: 10px 0;
  font-size: 16px;
}

button {
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 8px;
}

a {
  display: block;
  margin-top: 15px;
  color: #4f46e5;
  font-weight: bold;
}